/*Comentario CSS*/
@import './items/colores';


// General

@import './items/general';

// footer
@import './items/footer' ;

//Inicio

@import './pages/inicio';

//Marcas

@import './pages/marcas';

//Galeria

@import './pages/galeria';

//Contacto

@import './pages/contacto';

//Media

@import './items/media';

