$color-principal: red;

$color-fondo: rgb(29, 29, 29);

$color-texto:beige;

$color-secundario: rgb(0, 0, 255) ;

$color-acento: #ff5733;

$color-blk: black;

$color-wht: white;

$color-gris: gray;

$color-blueoscuro: #0a0a23;

$color-electricblue: rgb(0, 174, 255);

