
body {
    color: $color-principal;
    background-color: $color-fondo;
    scrollbar-color: rgb(252, 217, 217) beige;
}

@mixin txt {
    font-size: 15px;
    font-weight: bold;
    color: $color-texto;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    max-width: 1000px;
    margin: auto;


}



@mixin encabezado {
    font-size: 32px;
    font-weight: bold;
    color: $color-secundario;
    text-align: center;
    margin-bottom: 20px;
}

@mixin brilloboton {
    .hover-shine {
        background-color: #007bff;
        color: white;
        transition: background-color 0.4s ease;


        .hover-shine:hover {
            background-color: #0056b3;
            cursor: pointer;
        }

    }
}


ul {
    li {
        a {
            font-weight: 900;
            text-decoration: none;
            color: white;
        }
    }
}

div {
    ul {
        li {
            font-weight: 900;
        }
    }
}

nav {
    ul {
        img {

            height: 150px;
        }
    }
}

nav {

    ul {


        p {
            font-size: 14px;

        }
    }
}

.margen {
    margin-top: 50px;
    padding: 20px;
}