// Mobile

@media (max-width: 576px) {

    body {
        scrollbar-width: none;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        padding: 10px 0;
        min-width: 100%;
        margin-bottom: 15px;
    }

    .footer-section h3 {
        border-bottom: none;
    }

    .social-links a {
        margin: 0 10px;
    }

    .gimg {
        width: 100%;
        margin-bottom: 15px;
    }

    .principal {
        width: 90%;
        padding-top: 200px;
    }

    .opciones-radio {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;

    }

    .gale {
        display: flex;
        width: 100%;
        margin: auto;
    }

    .ubicacion {
        height: 100%;
        width: 100%;
        left: 0%;
    }

    .contenedor-alineado {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }


    .lado-izquierdo {

        flex: 0 0 30%;
        padding-right: 20px;
    }

    .lado-izquierdo img {
        max-width: 0%;
    }


    .lado-derecho {
        text-align: 10px;
    }

}

.titlado {
    text-align: center;
    font-size: 40px;
    color: $color-principal;
    text-decoration: underline;
    text-decoration-color: $color-texto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.txtlado {
    text-align: center;
    font-size: 20px;
    color: $color-wht;
    margin: 10px 0;
    font-weight: bold;
}


.imgladoi {
    width: 0px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .columna-derecha {
        flex: 2;
        width: 200px;

    }


}

// Tablet
@media (min-width: 577px) and (max-width: 768px) {

    body {
        scrollbar-width: none;
    }


    .gimg {
        width: 100%;
        margin-bottom: 15px;
    }

    .principal {
        width: 80%;
        padding-top: 150px;
    }

    .opciones-radio {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;

    }

    .gale {
        display: flex;
        width: 100%;
        height: 300px;
        margin: auto;
    }

    .ubicacion {
        height: 100%;
        width: 100%;
        left: 0%;
    }

    .contenedor-alineado {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 760px;
    }


    .lado-izquierdo {

        flex: 0 0 25%;
        padding-right: 25px;
    }


    .lado-derecho {

        flex-grow: 1;


        font-size: 0.9em;


        text-align: center;
    }

    .lado-derecho h2 {
        font-size: 1.5em;
    }

    .columna-derecha img {
 
  max-width: 0%; 
  
}

    .imgladoi {
        width: 0px;
       
}
}
// tablet grande
@media (min-width: 769px) and (max-width: 992px) {
    .imgcarru {
        width: 70%;
        height: 60%;
    }

    body {
        scrollbar-width: none;
    }

    .gimg {
        width: 100%;
        margin-bottom: 15px;
    }

    .principal {
        width: 70%;
        padding-top: 100px;
    }

    .opciones-radio {
        flex-direction: row;
        gap: 20px;
        align-items: center;

    }

    .gale {
        display: flex;
        width: 100%;
        height: 350px;
        margin: auto;
    }

    .ubicacion {
        height: 100%;
        width: 100%;
        left: 0%;
    }

    .titlado {
        text-align: center;
        font-size: 40px;
        color: $color-principal;
        text-decoration: underline;
        text-decoration-color: $color-texto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .txtlado {
        text-align: center;
        font-size: 20px;
        color: $color-wht;
        margin: 10px 0;
        font-weight: bold;
    }
    
   .columna-derecha img {
 
  max-width: 0%; 
    

}


    .imgladoi {
        width: 0px;
    }


// Desktop
@media (min-width: 993px) {

    .imgcarru {
        width: 60%;
        height: 30%;
    }

    body {
        scrollbar-width: none;
    }

    .gimg {
        width: 100%;
        margin-bottom: 15px;
    }

    .principal {
        width: 60%;
        padding-top: 50px;
    }

    .opciones-radio {
        flex-direction: row;
        gap: 20px;
        align-items: center;

    }

    .gale {
        display: flex;
        width: 100%;
        width: 1000px;
        height: 400px;
        margin: auto;
    }

    .ubicacion {
        max-width: 100%;
        height: 20rem;
        width: 40rem;
        display: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .imgcarruau {
        width: 50%;
        height: 30%;
    }


    .titlado {
        text-align: center;
        font-size: 40px;
        color: $color-principal;
        text-decoration: underline;
        text-decoration-color: $color-texto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .txtlado {
        text-align: center;
        font-size: 20px;
        color: $color-wht;
        margin: 10px 0;
        font-weight: bold;
    }

    .columna-derecha img {
 
  max-width: 0%; 
  
}

}
}