.ubicacion {
    width: 700px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 27%;
  
    
  

}

.formulario {
    padding: 20px;
}

.contenedor-encuesta {
    margin: auto;
    background-color: $color-texto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;

}
.contenedor-encuesta h2 {
    color: $color-blueoscuro;
    text-align: center;
    margin-bottom: 5px;
}

.contenedor-encuesta p {
    color: $color-blueoscuro;
    text-align: center;
    margin-bottom: 30px;


}
.grupo-pregunta {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid $color-blk;
    border-radius: 8px;

}
.grupo-pregunta label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: $color-blueoscuro;


}

.opciones-radio {
    display: flex;
    gap: 20px;


}
.opciones-radio input[type="radio"] {
    margin-right: 5px;

}

textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid $color-gris;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}


.boton-enviar {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.boton-enviar:hover {
    background-color: #0056b3;
}

.contact-form {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
}

.contact-form div {
    margin-bottom: 15px;
}

.contact-form label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}


.contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.txtcontact{
    @include txt;
    color: $color-electricblue;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.titcontact{
    color: $color-electricblue;
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}