.banner {
    min-height: 100vh;
    position: relative;
    margin-bottom: 5%;


    .principal {
        padding-top: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        margin: auto;
        position: relative;
        z-index: 2;
        text-align: center;
        color: $color-texto;
            .txtvid {
                color: $color-wht;
                font-size: 40px;
                font-weight: bold;
                text-shadow: 2px 2px 8px rgba(67, 1, 1);
            }
            .txtvid2 {
                color: $color-wht;
                font-size: 40px;
                margin-top: 60px;
                text-shadow: 2px 2px 8px rgb(67, 1, 1);
                
            }

    }

    .boton1 {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
        border-color: $color-principal;
        background-color: transparent;
        color: white;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    .boton1:hover {

        background-color: rgb(0, 247, 255);
        color: rgb(0, 0, 0);
        transform: translatey(-2px);
    }

    .vid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

video {

    @extend .vid;
    object-fit: cover;

}

.tituloindx {

    text-align: center;
    font-size: 40px;
    color: $color-principal;
    text-decoration: underline;
    text-decoration-color: $color-texto;

}

.textoinicio {
    font-size: 15px;
    color: $color-texto;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    max-width: 1000px;
    margin: auto;

}

.imgcarruindx {
    width: 20%;
    height: auto;
}