.gale {
    display: flex;
    width: 800px;
    height: 430px;
    margin: auto;

    .gimg {
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }

    .gimg:hover {

        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
}

.txtgale {
    @include txt;
    font-size: 15px;
    text-align: center;
    color: $color-blueoscuro;

}

.txtmarca {
    @include txt;
    font-size: 25px;
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    color: $color-secundario;
    text-align: center;


}